<div class="container" ng-controller="HeaderController as vm" ng-hide="vm.authentication.user">
<section>
  <div class="jumbotron text-center smartcamsBG">
    <div class="row">
        <img alt="MEAN.JS" class="img-responsive text-center transparency" src="/modules/core/client/img/brand/logo.png" />
    </div>
    <br>
    <div class="row">
      <p class="lead transparency">
        Open-Source Full-Stack Solution For MEAN Applications
      </p>
    </div>
    <div class="row transparency">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Weapon detection</h2>
      <p>Detect the presence of threat-posing elements sneaking under your surveillance system. Choose the set of objects that is off-limits and let the smart cam take care</p>
    </div>
    <div class="col-md-4">
      <h2>Weapon detection</h2>
      <p>Detect the presence of threat-posing elements sneaking under your surveillance system. Choose the set of objects that is off-limits and let the smart cam take care</p>
    </div>
    <div class="col-md-4">
      <h2>Video Analytics</h2>
      <p>Keep a track of the all the elements that visit your area under surveillance. Track this data over a day,week,month or year. This 'll help identify the time-slots more probable of danger' </p>
    </div>
  </div>
</section>
</div>
<div ng-controller="HeaderController as vm" ng-show="vm.authentication.user">
  <iframe src="http://localhost:5601/app/kibana#/visualize/create?embed=true&type=histogram&indexPattern=new_index&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:scores.class.keyword,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,legendPosition:right,mode:stacked,scale:linear,setYExtents:!f,times:!()),title:'New+Visualization',type:histogram))" height="600" width="800"></iframe>
</div>
